.join {
    min-height: 15vh;
    background-color: cornflowerblue;
    font-family: "Acme", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join div {
    float: left;
}

.join img {
    height: 8vh;
    float: left;
    animation: join 2s infinite;
    position: relative;
    left: 2%;
    top: -10px;
}

@keyframes join {
    70% {
        top: 30px;
    }
}

.contacts-main-media {
    background-color: cornflowerblue;
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts-main-media img {
    border-radius: 50%;
    height: 40vh;
    width: 100%;
    /*KENDIME NOT width % verirsem yüzdeyi anchor elemtine göre aldığından düzgün gözükmüyor, tek seçenek 100% vermek ki sayfa shrink edince onlar da istediğim gib küçülsün.*/
    transition: height 0.7s;
}

.contacts-main-media img:hover {
    height: 50vh;
}

.footer-email {
    height: 15vh;
    background-color: cornflowerblue;
    font-family: "Acme", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.footer-email i {
    margin-left: 1em;
}

.footer-email a {
    color: black;
}

.footer-email span {
    user-select: none;
}

@media screen and (max-width: 900px) {
    .contacts-main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footer-email {
        font-size: 40px;
    }
    .join {
        display: none;
    }
    .contacts-main-media {
        min-height: 75vh;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .footer-email {
        display: none;
    }
    .contacts-main-media {
        padding-top: 20px;
    }
}

@media screen and (max-height: 500px) {
    .join {
        display: none;
    }
    .contacts-main-media {
        min-height: 90vh;
    }
    .footer-email {
        display: none;
    }
}