.home-main {
    display: flex;
}

.home-main>div {
    background-color: cornflowerblue;
}

.home-main-left {
    width: 50%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-left img {
    width: 75%;
    border-radius: 100px;
    transition: width 1s;
}

.home-main-left img:hover {
    width: 85%;
}

.home-main-right {
    width: 50%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .home-main {
        flex-direction: column;
        justify-content: center;
    }
    .home-main-left {
        width: 100%;
        min-height: 40vh;
    }
    .home-main-left img {
        width: 50%;
    }
    .home-main-left img:hover {
        width: 60%;
    }
    .home-main-right {
        width: 100%;
        min-height: 50vh;
        font-size: 20px;
    }
}