body {
    margin: 0;
}

.header {
    width: 100%;
    background: linear-gradient(white, cornflowerblue);
    height: 10vh;
}

#logo {
    font-family: "Permanent Marker", cursive;
    background-color: #00308f;
    border: 1px white solid;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
    color: lightskyblue;
    border-radius: 10px;
    animation: logo 3s infinite;
    width: 100%;
    min-height: 3vh;
}

@keyframes logo {
    50% {
        background-color: #007fff;
    }
}

.pages {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    align-items: center;
}

.page {
    font-family: "Permanent Marker", cursive;
    background-color: #1f75fe;
    border: 1px #1f75fe solid;
    width: 200px;
    /* KENDIME NOT width vermek yerine padding vermek ve hover'da padding ile oynamak daha iyi olabilir */
    box-sizing: border-box;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2a52be;
    transition: color 0.7s, border-color 0.7s, background-color 0.7s, width 0.7s, font-size 0.7s, box-shadow 0.7s;
}

.page:hover {
    width: 300px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: white;
    color: #1f75fe;
}

.header a {
    text-decoration: none;
}

.home-main {
    display: flex;
}

.home-main>div {
    background-color: cornflowerblue;
}

.home-main-left {
    width: 50%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-left img {
    width: 75%;
    border-radius: 100px;
    transition: width 1s;
}

.home-main-left img:hover {
    width: 85%;
}

.home-main-right {
    width: 50%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .home-main-left {
        display: none;
    }
    .home-main-right {
        width: 100%;
    }
}